@import url(./normalize.css);

body{
    background: rgb(34,34,59);
    background: linear-gradient(180deg, rgba(34,34,59,1) 18%, rgba(74,78,105,1) 50%, rgba(154,140,152,1) 83%, rgba(242,233,228,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100vh;
}
.container{
    height: 96%;
    display: flex;
    flex-direction: column;

    h1{
        margin: 5px 35px;
        font-size: 35px;
        color: #8B808F;
        text-align: center;
    }
    .topleft{

        font-size: 20px;
        color: #BBBBBB;
    }
}
.img_txt{
    display: flex;
    justify-content: space-evenly;
    gap:1%;
    margin: 0 10px;
    height: 35%;

    .img{
        display: flex;
        filter: invert(100%);
        img{
            width: 80px;
            height: 100px;
        }
    }
    .wird{
        font-size: 25px;
        color: #BBBBBB;
    }
}
    .text-center{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        text-align: center;
        .btn-block{
            display: flex;
            justify-content: center;
        }
        .keyboard{
            margin: 30px 40px;
            max-width: 390px;

        .btn{
            width: 35px;
            height: 35px;
            font-size: 20px;

            background-color: #2C5776;
            color: #fff;
            &onclick{
                background-color: #4C4476;
            }
        }
    }
}
.bttn {
    display: flex;
    justify-content: center;
    .btn-info{
        padding: 10px 10px;

        font-size: 25px;
        color: #fff;
        background-image: linear-gradient(to right, #2b5876 0%, #4e4376  51%, #2b5876  100%);

        text-align: center;
        background-size: 200% auto;
        border-radius: 10px;
        transition: 0.5s;
        
        &:hover {
            box-shadow: 0 0 20px #22223B;
            background-position: right center; 
          color: #fff;
          text-decoration: none;
        }
    }
}
footer{
    .footer{
        overflow: hidden;
        margin-bottom: 0;

        display: flex;
        justify-content: space-evenly;
        .social{
            img{
                height: 40px;
                width: 40px;
            }
            :hover{
                width: 49px;
            }
        }
        
        .nom{
            font-weight: 700;
            a{
                text-decoration: none;
                color: black;
                &:visited{
                    color: black;
                };
                &:hover{
                    font-size: 25px;
                }
            }
        }
    }
}
// Tablet version
@media screen and (min-width: 786px) and (max-width: 1023px){
    .container{
        h1{
            margin: 45px auto;
            font-size: 50px;
        }
    }
    .text-center{
        display: flex;
        justify-content: center;
        .topleft{
            margin: 30px auto;
        }
    }
    .btn-block{
        display: flex;
        justify-content: center;
        // max-width: 545px;
        .keyboard{
            margin: 50px auto 70px auto;

            max-width: 545px;
            // max-height: 600px;

            line-height: 50px;
            .btn{
                height: 45px;
                width: 45px;
            }
        }
    }
    .img_txt{
        height: 100%;
    }
    .img{
        img{
            width: 140px;
            height: 175px;
        }
    }
}
// Desktop versiongit chec
@media screen and (min-width: 1024px){
    
    .container{
        h1{
            margin: 35px auto;
            font-size: 70px;
        }
    }
    .text-center{
        display: flex;
        justify-content: center;
        .topleft{
            margin: 30px auto;
        }
    }
    .btn-block{
        display: flex;
        justify-content: center;
        // max-width: 545px;
        .keyboard{
            margin: 50px auto 70px auto;

            max-width: 545px;
            // max-height: 600px;

            line-height: 50px;
            .btn{
                height: 45px;
                width: 45px;
            }
        }
    }
    .img_txt{
        height: 100%;
        .img{
            img{
                width: 200px;
                height: 250px;
            }
        }
    }
}
.footer{
    .nom{
        font-size: 20px;
    }
}