@import url(./normalize.css);
body {
  background: #22223b;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(18%, #22223b), color-stop(50%, #4a4e69), color-stop(83%, #9a8c98), to(#f2e9e4));
  background: linear-gradient(180deg, #22223b 18%, #4a4e69 50%, #9a8c98 83%, #f2e9e4 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.container {
  height: 96%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container h1 {
  margin: 5px 35px;
  font-size: 35px;
  color: #8B808F;
  text-align: center;
}

.container .topleft {
  font-size: 20px;
  color: #BBBBBB;
}

.img_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1%;
  margin: 0 10px;
  height: 35%;
}

.img_txt .img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.img_txt .wird {
  font-size: 25px;
  color: #BBBBBB;
}

.text-center {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.text-center .btn-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.text-center .keyboard {
  margin: 30px 40px;
  max-width: 390px;
}

.text-center .keyboard .btn {
  width: 35px;
  height: 35px;
  font-size: 20px;
  background-color: #2C5776;
  color: #fff;
}

.text-center .keyboard .btnonclick {
  background-color: #4C4476;
}

.bttn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.bttn .btn-info {
  padding: 10px 10px;
  font-size: 25px;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right top, from(#2b5876), color-stop(51%, #4e4376), to(#2b5876));
  background-image: linear-gradient(to right, #2b5876 0%, #4e4376 51%, #2b5876 100%);
  text-align: center;
  background-size: 200% auto;
  border-radius: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.bttn .btn-info:hover {
  -webkit-box-shadow: 0 0 20px #22223B;
          box-shadow: 0 0 20px #22223B;
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

footer .footer {
  overflow: hidden;
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer .footer .social :hover {
  width: 35px;
}

footer .footer .nom {
  font-weight: 700;
}

footer .footer .nom a {
  text-decoration: none;
  color: black;
}

footer .footer .nom a:visited {
  color: black;
}

footer .footer .nom a:hover {
  font-size: 25px;
}

@media screen and (min-width: 786px) and (max-width: 1023px) {
  .container h1 {
    margin: 45px auto;
    font-size: 50px;
  }
  .text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-center .topleft {
    margin: 30px auto;
  }
  .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-block .keyboard {
    margin: 50px auto 70px auto;
    max-width: 545px;
    line-height: 50px;
  }
  .btn-block .keyboard .btn {
    height: 45px;
    width: 45px;
  }
  .img_txt {
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .container h1 {
    margin: 35px auto;
    font-size: 70px;
  }
  .text-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .text-center .topleft {
    margin: 30px auto;
  }
  .btn-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .btn-block .keyboard {
    margin: 50px auto 70px auto;
    max-width: 545px;
    line-height: 50px;
  }
  .btn-block .keyboard .btn {
    height: 45px;
    width: 45px;
  }
  .img_txt {
    height: 100%;
  }
}
/*# sourceMappingURL=style.css.map */